name: flutter_help_scout
description: Flutter implementation for Help Scout mobile SDK. Help Scout is an all-in-one customer service platform that helps you balance everything your customers need to be happy.
version: 2.0.3
  
homepage: https://github.com/privilee/flutter_help_scout

environment:
  sdk: '>=2.12.0 <3.0.0'
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      android:
        package: dev.kelvinforteta.flutter_help_scout
        pluginClass: FlutterHelpScoutPlugin
      ios:
        pluginClass: FlutterHelpScoutPlugin
